<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head") %>
    <body>
        <header>
            <h2>
                <a href="/">Note App</a>
            </h2>
            <nav>
                <% if (authenticationToken) { %>
                <a href="/create-post">Create Post</a>
                <a href="/logout">Log out</a>
                <% } else { %>
                <a href="/login">Sign in</a>
                <% } %>
            </nav>
        </header>
        <main>
            <h3>Your post</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione quam aliquam vel quod dignissimos quidem? Molestiae sint cumque eveniet nemo dolor inventore corporis dolores recusandae laudantium maxime consequatur, explicabo ad.</p>
        </main>

        <%- include("includes/footer") %>
    </body>
</html>
