<!DOCTYPE html>
<html lang="en">
    <%- include("includes/head") %>
    <body>
        <header>
            <h2>
                <a href="/">Note App</a>
            </h2>
        </header>

        <main>
            <h3>Error</h3>
        </main>

        <%- include("includes/footer") %>
    </body>
</html>
