<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Note App</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <header>
            <h2>
                <a href="/">Note App</a>
            </h2>
            <nav>
                <a href="#">Log In</a>
            </nav>
        </header>

        <main>
            <h3>Login Page</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam laudantium, harum architecto, consectetur vel
                voluptates adipisci amet vero corrupti reiciendis hic dicta
                facilis, voluptatibus velit ut perspiciatis sit. Debitis,
                voluptatem?
            </p>
        </main>

        <footer>
            <small> &copy; Note App </small>
        </footer>
    </body>
</html>
