<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Note App</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <header>
            <h2>
                <a href="/">Note App</a>
            </h2>
            <nav>
                <a href="/register">Create an account</a>
            </nav>
        </header>

        <main>
            <h3>Login Page</h3>
            <form action="/register" method="POST">
                <% validationError.forEach(error => { %>
                <p class="notice"><%= error %></p>
                <% }); %>

                <fieldset>
                    <legend>Create account</legend>
                    <label for="username"><small>Username</small></label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        autocomplete="off"
                    />
                    <label for="password"><small>Password</small></label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        autocomplete="off"
                    />
                    <br />
                    <button type="submit">Sign Up</button>
                </fieldset>
            </form>
        </main>

        <footer>
            <small> &copy; Note App </small>
        </footer>
    </body>
</html>
